img{
    align-self: center;
    justify-self: center;      /*this code just dont work*/
    margin: 1rem;
    height: 10rem;
    width: 10rem;
}

h1{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#TheeGameSpace{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: fit-content;
    background-color: black;
}

body{
    margin-top: 0;

    align-items: center;
    justify-items: center;       /*this code just dont work*/

    background: yellowgreen;
}

#restartGame{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}