/* 
  // if(row == 0){//move made at row0
    
  //   if(img1 == ''){
  //     cover1 = document.getElementById('coverimage ' + row + '-' + col)
  //     img1Col = col
      
  //     element.replaceChild(images[col], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img1Row = ' + row)
  //     console.log('img1Col = ' + col)      
  //     img1 = document.getElementsByTagName('img')[col]

  //   } 
  //   else{
  //     cover2 = document.getElementById('coverimage ' + row + '-' + col)
      
  //     element.replaceChild(images[col], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img2Row = ' + row)
  //     console.log('img2Col = ' + col)      
  //     img2 = document.getElementsByTagName('img')[col]
      
  //     // chack for no match
  //     if(img2.id.charAt(3) !== img1.id.charAt(3)){
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[img1Col].id + ' REPLACED WITH: ' + cover1.id)
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[col].id + ' REPLACED WITH: ' + cover2.id)

  //       element.replaceChild(cover1, document.getElementsByTagName('img')[img1Col])
  //       element.replaceChild(cover2, document.getElementsByTagName('img')[col])
  //     }
         
  //     // Empty imgs
  //     img1 = ''
  //     img2 = ''
  //     cover1 = ''
  //     cover2 = ''
  //   }

  // }
  // else if(row == 1){//move made at row1
    
  //   if(img1 == ''){
  //     cover1 = document.getElementById('coverimage ' + row + '-' + col)
  //     img1Col = col

  //     element.replaceChild(images[col + 4], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img1Row = ' + row)
  //     console.log('img1Col = ' + col)
  //     img1 = document.getElementsByTagName('img')[col + 4]

  //   } 
  //   else{
  //     cover2 = document.getElementById('coverimage ' + row + '-' + col)
      
  //     element.replaceChild(images[col + 4], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img2Row = ' + row)
  //     console.log('img2Col = ' + col)
  //     img2 = document.getElementsByTagName('img')[col + 4]

  //     // find out if img1 & img2 match
  //     if (img2.id.charAt(3) !== img1.id.charAt(3)) {
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[img1Col].id + ' REPLACED WITH: ' + cover1.id)
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[col + 4].id + ' REPLACED WITH: ' + cover2.id)
        
  //       element.replaceChild(cover1, document.getElementsByTagName('img')[img1Col])
  //       element.replaceChild(cover2, document.getElementsByTagName('img')[col + 4])

  //     }
      
  //     // Empty imgs
  //     img1 = ''
  //     img2 = ''
  //     cover1 = ''
  //     cover2 = ''
  //   }

  // }
  // else{//move made at row2

  //   if(img1 == '') {
  //     cover1 = document.getElementById('coverimage ' + row + '-' + col)
  //     img1Col = col
      
  //     element.replaceChild(images[col + 8], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img1Row = ' + row)
  //     console.log('img1Col = ' + col)      
  //     img1 = document.getElementsByTagName('img')[col + 8]

  //   }
  //   else{
  //     cover2 = document.getElementById('coverimage ' + row + '-' + col)
      
  //     element.replaceChild(images[col + 8], document.getElementById('coverimage ' + row + '-' + col))
  //     console.log('img2Row = ' + row)
  //     console.log('img2Col = ' + col)      
  //     img2 = document.getElementsByTagName('img')[col + 8]


  //     // find out if img1 & img2 match
  //     if (img2.id.charAt(3) !== img1.id.charAt(3)){
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[img1Col + 8].id + 'REPLACED WITH: ' + cover1.id)
  //       console.log('IMAGE: ' + document.getElementsByTagName('img')[col + 8].id + 'REPLACED WITH: ' + cover2.id)

  //       element.replaceChild(cover1, document.getElementsByTagName('img')[img1Col + 8])
  //       element.replaceChild(cover2, document.getElementsByTagName('img')[col + 8])
  //     }
      
  //     // Empty imgs
  //     img1 = ''
  //     img2 = ''
  //     cover1 = ''
  //     cover2 = ''
  //   }
  // }
  
// ================================================================================================================================== */

img{
    align-self: center;
    justify-self: center;      /*this code just dont work*/
    margin: 1rem;
    height: 10rem;
    width: 10rem;
}

h1, h3{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#TheeGameSpace{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: fit-content;
    background-color: black;
}

body{
    margin-top: 0;

    align-items: center;
    justify-items: center;       /*this code just dont work*/

    background: yellowgreen;
}

#restartGame{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

/* switch(row, col){
    case 0 && 0:
      if(img1 == ''){
        index1 = 0
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      }else{
        index2 = 0
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 0 && 1:
      if (img1 == '') {
        index1 = 1
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 1
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 0 && 2:
      if (img1 == '') {
        index1 = 2
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 2
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 0 && 3:
      if (img1 == '') {
        index1 = 3
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 3
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 1 && 0:
      if (img1 == '') {
        index1 = 4
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 4
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 1 && 1:
      if (img1 == '') {
        index1 = 5
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 5
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 1 && 2:
      if (img1 == '') {
        index1 = 6
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 6
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 1 && 3:
      if (img1 == '') {
        index1 = 7 
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 7 
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 2 && 0:
      if (img1 == '') {
        index1 = 8
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 8
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 2 && 1:
      if (img1 == '') {
        index1 = 9
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 9
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        img1 = ''
        break
      }
    case 2 && 2:
      if (img1 == '') {
        index1 = 10
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 10
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }
    case 2 && 3:
      if (img1 == '') {
        index1 = 11
        console.log('Replace: ' + document.getElementsByTagName('img')[index1].id + ' by: ' + images[index1].id)
        element.replaceChild(images[index1], document.getElementsByTagName('img')[index1])
        img1 = images[index1]
        break
      } else {
        index2 = 11
        console.log('Replace: ' + document.getElementsByTagName('img')[index2].id + ' by: ' + images[index2].id)
        element.replaceChild(images[index2], document.getElementsByTagName('img')[index2])
        img1 = ''
        break
      }

    default:
      alert('It aint HAPPENING.')
      break
  } */